.card{
    padding: 20px;
    border: 5px ridge pink;
    background-color: rgb(240, 220, 242);
}

.card img{
    width: 200px;
    height: 220px;
}

.card-buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
}
