.board{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.board img{
    width: 200px;
    height: 300px;
}

.delete-and-view{
    display: flex;
    gap: 10px;
}

.delete-btn{
    background-color: red;
    color: white;
}
