
footer {
  background-image: url("public/banner.jpg");
    padding: 5px;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 0px;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
  }
